* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    height: 35px;
    line-height: 35px;
}

.menu li {
    float:left;
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: silver;
    padding: 0px 10px;
    display: block;
}

.menu li a:hover {
    background-color: black;
    color: orange;
    border-bottom: 1px solid orange;
}